body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}
body{
     background-image: url(https://wallpaperaccess.com/full/1087621.jpg);
      background-size:cover; /* This makes the image cover the whole screen */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat;
    } 

#logo {margin: 0px;
    padding: 8px;
    font-family: "Fredoka One";
    width: 25%;
    border-radius: 40%;
}

ul{margin: 0px;
}

body> header{
    background-color: gray;
    color: #085c90;
    display:flex;
    height: 15vh;
    align-items: center; 
    justify-content: space-around; 
}

#nav-ul {
    display: flex;
}

#nav-ul > li {padding: 10px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
}

body > main article {
    width: 80%;
    margin: auto;
    color: #085c90;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
    color: #085c90;
}

h2{
    text-align: center;
}

body > footer {
    background-color: gray;
    color: #085c90;
    display: flex;
}

img {
    border-radius: 50%;
}
#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
margin-left: 15px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}
aside{
    color: #085c90;
}

